body {
  background-color: #282c34;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-body {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-content {
  margin-top: 10px;
  width: 50%;
}

.input-box {
  margin: 10px 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.App-link {
  color: #09d3ac;
}
